@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<link href="Style.css" rel="stylesheet" />
</head>
<body>
	<h1>...Merhaba Ben View...</h1>
</body>
</html>