@model List<Ogrenci>

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>

	<ul>
	@foreach (var item in Model)
	{
		string str = $"{item.OgrenciID} - {item.Adi} {item.SoyAdi}";
		<li> @str </li>
	}
	</ul>
</body>
</html>
