<div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Ben yönetim panelinin arayüzüyüm...</h2>   
                    </div>
                </div>              
                 <!-- /. ROW  -->
                  <hr />
              Ben ö
                 <!-- /. ROW  -->           
</div>