@model List<Kullanici>

@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	
		<a asp-controller="Kullanici" asp-action="Kaydet">Yeni Ekle</a>
		<!--eğer aynı controllerda yönlendirme yapacaksak link aşaıdaki gibide tanımlanabilir-->

		<a asp-action="Kaydet">Yeni Ekle</a>

		<br />
		<table>
			<tr>
				<td>Kullanıcı Adı</td>
				<td>Şifre</td>
			</tr>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.KullaniciAdi</td>
					<td>@item.Sifre</td>
				</tr>
			}
		</table>
</body>
</html>