@*@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>

	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>

	<header>
		<nav class="navbar navbar-expand-lg bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Navbar</a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">Anasayfa</a>
						<a class="nav-link" asp-controller="Hakkimizda" asp-action="Index">Hakkımızda</a>
						<a class="nav-link" asp-controller="Iletisim" asp-action="Index">İletişim</a>
					</div>
				</div>
			</div>
		</nav>
	</header>


	<div class="container">
		<h1>Burası uygulamanın anasayfası</h1>
	</div>


</body>
</html>
*@


@{
	//Layout = "~/Views/Shared/_Sablon.cshtml";
	Layout = "~/Views/Shared/_Sablon.cshtml";
}


						<h1>Burası anasayfa</h1>