@model List<string>

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<!--
		model => sayfanın modelini tanımlar...
		Model => sayfanın modelini çağırır...
	-->
	<h1>@Model.Count</h1>
	<hr />
	@foreach(string item in Model)
	{
		<h1>@item</h1>
	}

</body>
</html>
